@use "src/styles/tokens";

a.navigationItem.navigationItem {
    font-weight: tokens.$font-weight-400;
    font-size: tokens.$font-size-200;
    color: tokens.$color-accent-text-200;
    
    white-space: nowrap;
    text-decoration: none;

    &:hover, &:focus, &:active {
        color: tokens.$color-accent-text-300;
    }
}
