@use "src/styles/tokens";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-600;

    .section {
        max-width: tokens.$breakpoint-sm;

        .headerWrapper {
            display: flex;
            align-items: center;
            gap: tokens.$spacing-300;

            .header {
                font: tokens.$typography-title-100;
            }
        }

        .description {
            margin-bottom: tokens.$spacing-400;
            margin-top: tokens.$spacing-200;

            text-align: justify;
            font: tokens.$typography-body-100;
            color: tokens.$color-neutral-text-200;
        }
    }
}

