@use "src/styles/tokens";

.navigation {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding: tokens.$spacing-600;
    position: sticky;
    z-index: 10;
    top: 0;

    border-bottom: thin solid tokens.$color-neutral-surface-300;
    background: tokens.$color-neutral-background-300;
    
    .container {
        width: 100%;
        max-width: tokens.$breakpoint-md;
        
        display: flex;
        gap: tokens.$spacing-800;
        justify-content: space-between;
        align-items: center;

        .routes {
            display: flex;
            gap: tokens.$spacing-400;

            @media (min-width: tokens.$breakpoint-xs) {
                gap: tokens.$spacing-600;
            }

            @media (min-width: tokens.$breakpoint-sm) {
                gap: tokens.$spacing-800;
            }
        }
    }
}
