@use "src/styles/tokens";

.group {
    max-width: fit-content;
    background: tokens.$color-neutral-background-200;
    
    border-radius: tokens.$radius-200;
    border: thin solid tokens.$color-neutral-surface-100;
    padding: tokens.$spacing-200;
    
    display: flex;
    gap: tokens.$spacing-200;
}
