@use "src/styles/tokens";

.container {
    display: flex;
    gap: tokens.$spacing-300;
    align-items: center;
    justify-content: center;
    
    .name {
        font-weight: tokens.$font-weight-200;
    }
}
