@use "src/styles/tokens";

.checkbox {
    margin-right: tokens.$spacing-200;
   
    svg {
        height: 1.25rem;
        width: 1.25rem;
        border-radius: tokens.$radius-100;
        stroke: tokens.$color-neutral-solid-300;
        stroke-width: 1.5;
    }

    &[data-focus-visible] svg {
        outline: 2px solid tokens.$color-accent-solid-200;
    }
    
    &[data-selected],
    &[data-indeterminate] {
        svg {
            stroke: tokens.$color-accent-solid-100;
            fill: tokens.$color-accent-solid-300;
        }
    }
}
