@use "src/styles/tokens";

.container {
    display: flex;
    gap: tokens.$spacing-400;
    align-items: center;

    font: tokens.$typography-body-200;
    min-height: 1.5rem;
    position: relative;

    &:focus-within {
        &::before {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: -1rem;
            width: 0.66rem;
            height: 0.66rem;
            content: "";
            border-radius: tokens.$radius-500;
            background: tokens.$color-accent-solid-100;
        }
    }

    .input {
        outline: none;
        background: none;
        border: none;

        width: 100%;
        resize: none;
        overflow: hidden;

        color: tokens.$color-neutral-text-200;
        position: relative;

        &:focus {
            color: tokens.$color-neutral-text-100;
        }

        @keyframes pulsate {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        &:placeholder-shown {
            animation: pulsate 3s infinite;
        }
    }
}




