@use "./src/styles/tokens";

.row {
    display: flex;
    gap: tokens.$spacing-200;
    align-items: center;
}

.metadata {
    margin-top: tokens.$spacing-400;
    margin-bottom: tokens.$spacing-400;
    padding-left: tokens.$spacing-700;
}
