@use "src/styles/tokens";

.wrapper {
    display: flex;
    gap: tokens.$spacing-200;
    align-items: center;
    justify-content: space-between;
    margin-top: tokens.$spacing-100;

    .inputsWrapper {
        display: flex;
        gap: tokens.$spacing-200;
        width: fit-content;
        padding: tokens.$spacing-200 tokens.$spacing-700 tokens.$spacing-200 tokens.$spacing-400;

        &[data-size="1"] {
            font: tokens.$typography-body-100;
            padding: tokens.$spacing-100 tokens.$spacing-300;
        }

        &[data-size="2"] {
            font: tokens.$typography-body-200;
            padding: tokens.$spacing-200 tokens.$spacing-300;
        }

        &[data-size="3"] {
            font: tokens.$typography-body-200;
            padding: tokens.$spacing-300 tokens.$spacing-400;
        }
    }
}
