@use "src/styles/tokens";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: tokens.$spacing-600;

   .header {
       display: flex;
       gap: tokens.$spacing-400;
       align-items: center;
       
       .title {
           font: tokens.$typography-body-400;
           font-weight: tokens.$font-weight-300;
           text-align: center;
       }
   }
}
