@use "src/styles/tokens";

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerContainer {
        gap: tokens.$spacing-800;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: tokens.$spacing-400;

        .section {
            width: tokens.$breakpoint-sm;
            max-width: 100%;
            align-self: center;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: tokens.$spacing-300;

            .header {
                color: tokens.$color-accent-text-200;
                text-align: center;
                font-size: tokens.$font-size-800;

                @media (min-width: tokens.$breakpoint-xs) {
                    font-size: tokens.$font-size-900;
                }
            }

            .caption {
                color: tokens.$color-neutral-text-200;
                font-size: tokens.$font-size-400;
                margin-bottom: tokens.$spacing-500;
                text-align: center;

                @media (min-width: tokens.$breakpoint-xs) {
                    font-size: tokens.$font-size-400;
                }

                @media (min-width: tokens.$breakpoint-sm) {
                    font-size: tokens.$font-size-500;
                }
            }
        }

        .features {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: tokens.$spacing-400;
            
            @media (min-width: tokens.$breakpoint-sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
