@use "src/styles/tokens";

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerContainer {
        padding-inline: tokens.$spacing-400;

        .section {
            margin-top: tokens.$spacing-900;
            margin-bottom: tokens.$spacing-800;
            color: tokens.$color-accent-text-100;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: tokens.$spacing-300;

            .header {
                text-align: center;
                font-size: tokens.$font-size-800;

                @media (min-width: tokens.$breakpoint-xs) {
                    font-size: tokens.$font-size-900;
                }

                @media (min-width: tokens.$breakpoint-sm) {
                    font-size: tokens.$font-size-1000;
                }
            }

            .caption {
                font-size: tokens.$font-size-400;
                color: tokens.$color-accent-text-200;
                text-align: center;

                @media (min-width: tokens.$breakpoint-xs) {
                    font-size: tokens.$font-size-400;
                }

                @media (min-width: tokens.$breakpoint-sm) {
                    font-size: tokens.$font-size-500;
                }
            }
        }

        .features {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: tokens.$spacing-400;
            
            @media (min-width: tokens.$breakpoint-sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
