@use "src/styles/tokens";

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerContainer {
        gap: tokens.$spacing-800;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: tokens.$spacing-400;

        .features {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: tokens.$spacing-400;
            
            @media (min-width: tokens.$breakpoint-sm) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
