@use "src/styles/tokens";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .dashboardWrapper {
        width: 100%;
        display: flex;
        gap: tokens.$spacing-600;
        flex-direction: column-reverse;

        .sidePanel {
            display: flex;
            flex-direction: column;
            gap: tokens.$spacing-300;
            height: fit-content;
        }

        @media (min-width: tokens.$breakpoint-sm) {
            flex-direction: row;

            .sidePanel {
                position: sticky;
                top: tokens.$spacing-400;
            }
        }
    }
}
