@use "src/styles/tokens";

.spotlight {
    position: relative;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-opacity: 0.25;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), tokens.$color-accent-solid-200, transparent 80%);
        opacity: 0;
        transition: opacity 1s ease;
        pointer-events: none;
    }
    
    &:hover::before, &:focus-within::before {
        opacity: var(--spotlight-opacity);
    }
}
