@use "src/styles/tokens";

.container {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-300;

  .description {
    font: tokens.$typography-body-100;
    margin-bottom: tokens.$spacing-200;
    width: 380px;
  }
}