@use "src/styles/tokens";

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: tokens.$spacing-500;

    .header {
        font: tokens.$typography-title-300;
    }
}
