.container {
    padding: var(--spacing-400);
    border-radius: var(--radius-200);
    color: var(--color-neutral-text-100);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    gap: var(--spacing-600);
    min-width: 300px;

    &[data-variant="success"] {
        background-color: var(--color-success-solid-300);
    }

    &[data-variant="danger"] {
        background-color: var(--color-danger-solid-300);
    }

    &[data-variant="info"] {
        background-color: var(--color-info-solid-300);
    }

    .title {
        font: var(--typography-body-100);
        font-weight: bolder;
    }

    .message {
        font: var(--typography-body-100);
    }
}

