@use "src/styles/tokens";

.header {
    font: tokens.$typography-title-200;
    margin-bottom: tokens.$spacing-400;
    margin-top: tokens.$spacing-600;
}

.list {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-400;

    padding: 0;
    margin: 0;

    .listItem {
        display: flex;
        gap: tokens.$spacing-400;

        .navigationCard {
            height: 100%;
            align-items: center;
            display: flex;
            
            .navigationIcon {
                min-width: tokens.$font-size-500;
            }
        }
    }
}
