@use "src/styles/tokens";

.list {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-400;

    padding: 0;
    margin: 0;

    .listItem {
        display: flex;
        gap: tokens.$spacing-400;

        .navigationCard {
            height: 100%;
            align-items: center;
            display: flex;
            
            .navigationIcon {
                min-width: tokens.$font-size-500;
            }
        }
    }
}

.noResults {
    font: tokens.$typography-body-200;
    color: tokens.$color-neutral-text-200;
    font-weight: bold;
    text-align: center; 
}
