@use "src/styles/tokens";

.container {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-500;

    .row {
        display: grid;
        gap: tokens.$spacing-500;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .column {
            display: grid;
            gap: tokens.$spacing-500;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
        .xs, .sm, .md, .lg, .xl {
            grid-column: span 12;
        }

        @media (min-width: tokens.$breakpoint-sm) {
            .xs {
                grid-column: span 6;
            }
        }

        @media (min-width: tokens.$breakpoint-xl) {
            .xs {
                grid-column: span 3;
            }

            .sm {
                grid-column: span 4;
            }

            .md {
                grid-column: span 6;
            }

            .lg {
                grid-column: span 8;
            }
        }
    }
}
