@use "src/styles/tokens";

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: tokens.$spacing-300;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, tokens.$color-neutral-background-300 50%, tokens.$color-neutral-background-alpha-300 75%, transparent);

    font: tokens.$typography-title-500;
    padding: tokens.$spacing-600 tokens.$spacing-800;

    @media (min-width: tokens.$breakpoint-sm) {
        left: tokens.$sidebar-size;
    }
    
    @media (min-width: tokens.$breakpoint-md) {
        flex-direction: row;
        align-items: center;
    }

    .dateRangeFilters {
        display: flex;
        align-items: center;
        gap: tokens.$spacing-600;
        
        .buttons {
            display: flex;
            gap: tokens.$spacing-200;

            @media (max-width: tokens.$breakpoint-md) {
                .changeYearButton {
                    display: none;
                }
            }
        }

        .header {
            font: tokens.$typography-title-300;

            @media (min-width: tokens.$breakpoint-md) {
                font: tokens.$typography-title-400;
            }
        }
    }
}
