@use "src/styles/tokens";

.headerWrapper {
    display: flex;
    align-items: center;
    gap: tokens.$spacing-600;

    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(10px);

    font: tokens.$typography-title-500;
    padding: tokens.$spacing-600 tokens.$spacing-400 tokens.$spacing-200;
    margin-left: calc(#{tokens.$spacing-400} * -1);
    margin-bottom: tokens.$spacing-400;

    .buttons {
        display: flex;
        gap: tokens.$spacing-200;

        @media (max-width: tokens.$breakpoint-sm) {
            .changeYearButton {
                display: none;
            }
        }
    }

    .header {
        font: tokens.$typography-title-300;

        @media (min-width: tokens.$breakpoint-sm) {
            font: tokens.$typography-title-400;
        }
    }
}
