metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "8a416384890a06d5762c1ae7563f1ed17a799864e0f4112bc97d291f583c42e6"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "158f1f8f72c108118d7eb3199af59744cba46fef623f0e80bb8e12b237eee28a"
metrics_token = "dca6832885fa8acc24889641a5fb403084460bd1d14875c7cc2c4c7a05b70d71"