@use "src/styles/tokens";

.container {
    display: flex;
    gap: tokens.$spacing-400;
    flex-direction: column;

    @media (min-width: tokens.$breakpoint-md) {
        align-items: flex-end;
        flex-direction: row;
    }
}
