@use "src/styles/tokens";

.header {
    display: flex;
    align-items: center;
    gap: tokens.$spacing-300;

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: tokens.$spacing-200;
    }
}
