@use "src/styles/tokens";

.container {
    padding: tokens.$spacing-1000 tokens.$spacing-600;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        max-width: tokens.$breakpoint-xs;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: tokens.$spacing-400;

        .header {
            text-align: center;
            font-size: tokens.$font-size-1100;
        }

        .caption {
            text-align: center;
            font-size: tokens.$font-size-400;
            color: tokens.$color-accent-text-200;
        }

        .actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            margin-top: tokens.$spacing-300;
            gap: tokens.$spacing-400;
            
            @media (min-width: tokens.$breakpoint-xs) {
                flex-direction: row
            }

            .actionButton {
                border-radius: tokens.$radius-400;
                font-weight: tokens.$font-weight-400;

                text-decoration: none;
                background: transparent;
                transition: 0.2s;

                &.primary {
                    background: tokens.$color-accent-solid-300;
                    color: tokens.$color-accent-text-100;
                    
                    &:hover {
                        border-color: tokens.$color-accent-text-100;
                        background: tokens.$color-accent-text-100;
                        color: tokens.$color-accent-solid-300;
                    }
                }
                
                &.secondary {
                    &:hover {
                        border: thin solid tokens.$color-accent-text-100;
                    }
                }
            }
        }

        .actionsCaption {
            color: tokens.$color-accent-text-200;
            font-size: tokens.$font-size-200;
            text-align: center;
        }
    }
}
