@use "src/styles/tokens";

.tooltipPopup {
    background: tokens.$color-info-solid-200;
    border-radius: tokens.$radius-400;
    padding: tokens.$spacing-200 tokens.$spacing-400;

    font: tokens.$typography-body-100;
    color: tokens.$color-neutral-text-100;

    svg {
        fill: tokens.$color-info-solid-200;
    }
}
