.tooltipPopup {
    background: var(--color-info-solid-200);
    border-radius: var(--radius-400);
    padding: var(--spacing-200) var(--spacing-400);

    font: var(--typography-body-100);
    color: var(--color-neutral-text-100);

    svg {
        fill: var(--color-info-solid-200);
    }
}
