@use "src/styles/tokens";

.section {
    max-width: tokens.$breakpoint-sm;

    .title {
        font: tokens.$typography-title-100;
    }

    .description {
        margin-bottom: tokens.$spacing-500;
        margin-top: tokens.$spacing-300;

        text-align: justify;
        font: tokens.$typography-body-100;
        color: tokens.$color-neutral-text-200;
    }
}

.separator {
    padding-block: tokens.$spacing-400;
    opacity: 0.5;
}

