@use "src/styles/tokens";

.anchor {
    width: fit-content;
    outline: none;
    text-decoration: none;
    color: tokens.$color-accent-text-300;

    &:disabled {
        color: tokens.$color-neutral-text-200;
        cursor: not-allowed;
    }

    &:hover,
    &:active {
        text-decoration: underline;
        cursor: pointer;

        &[data-hovered] {
            color: tokens.$color-accent-text-200;
        }

        &[data-pressed] {
            color: tokens.$color-accent-text-100;
        }
    }

    &:focus {
        text-decoration: underline;
    }
}
