/* Element Size */
$sidebar-size: 150px;

/* Breakpoints */
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

/* Font Size */
$font-size-100: 0.625rem;
$font-size-200: 0.75rem;
$font-size-300: 0.875rem;
$font-size-400: 1rem;
$font-size-500: 1.125rem;
$font-size-600: 1.25rem;
$font-size-700: 1.375rem;
$font-size-800: 1.5rem;
$font-size-900: 2rem;
$font-size-1000: 2.5rem;
$font-size-1100: 3rem;

/* Font Weight */
$font-weight-100: 450;
$font-weight-200: 500;
$font-weight-300: 700;
$font-weight-400: 800;

/* Typography - Body */
$typography-body-100: $font-weight-200 $font-size-300 'Montserrat', sans-serif;
$typography-body-200: $font-weight-200 $font-size-400 'Montserrat', sans-serif;
$typography-body-300: $font-weight-200 $font-size-500 'Montserrat', sans-serif;
$typography-body-400: $font-weight-200 $font-size-600 'Montserrat', sans-serif;

/* Typography - Caption */
$typography-caption-100: $font-weight-100 $font-size-100 'Montserrat', sans-serif;
$typography-caption-200: $font-weight-100 $font-size-200 'Montserrat', sans-serif;

/* Typography - Title */
$typography-title-100: $font-weight-300 $font-size-700 'Montserrat', sans-serif;
$typography-title-200: $font-weight-300 $font-size-800 'Montserrat', sans-serif;
$typography-title-300: $font-weight-300 $font-size-900 'Montserrat', sans-serif;
$typography-title-400: $font-weight-300 $font-size-1000 'Montserrat', sans-serif;
$typography-title-500: $font-weight-300 $font-size-1100 'Montserrat', sans-serif;

/* Colors - Accent */
$color-accent-solid-100: #4B0082;  
$color-accent-solid-200: #3A0066;  
$color-accent-solid-300: #2C004D;  
$color-accent-text-100: #E6E0FF;  
$color-accent-text-200: #D0C0FF;  
$color-accent-text-300: #B0A0FF;  
$color-accent-background-100: #1A002E; 
$color-accent-background-200: #120022;  
$color-accent-background-300: #0A0017;  
$color-accent-surface-100: #2E005C;  
$color-accent-surface-200: #22004A; 
$color-accent-surface-300: #17003B;

/*
GRAYSCALE
$color-accent-solid-100: #5D5D5D;  
$color-accent-solid-200: #515151;  
$color-accent-solid-300: #3F3F3F;  
$color-accent-text-100: #EEEEEE;  
$color-accent-text-200: #E0E0E0;  
$color-accent-text-300: #B0B0B0;  
$color-accent-background-100: #222222; 
$color-accent-background-200: #171717;  
$color-accent-background-300: #101010;  
$color-accent-surface-100: #4C4C4C;  
$color-accent-surface-200: #3D3D3D; 
$color-accent-surface-300: #2A2A2A;
 */

/* Colors - Neutral */
$color-neutral-solid-100: #5F606A;
$color-neutral-solid-200: #6C6E79;
$color-neutral-solid-300: #797B86;
$color-neutral-text-100: #EEEEF0;
$color-neutral-text-200: #BFBFC0;
$color-neutral-text-300: #797B86;
$color-neutral-text-inversed-100: #222325;
$color-neutral-text-inversed-200: #19191B;
$color-neutral-text-inversed-300: #111113;
$color-neutral-background-inversed-100: #EEEEF0;
$color-neutral-background-inversed-200: #BFBFC0;
$color-neutral-background-inversed-300: #797B86;
$color-neutral-background-100: #222325;
$color-neutral-background-200: #19191B;
$color-neutral-background-300: #111113;
$color-neutral-background-alpha-100: rgba(34, 35, 37, 0.5);
$color-neutral-background-alpha-200: rgba(25, 25, 27, 0.5);
$color-neutral-background-alpha-300: rgba(17, 17, 19, 0.5);
$color-neutral-surface-100: #46484F;
$color-neutral-surface-200: #393A40;
$color-neutral-surface-300: #292A2E;

/* Colors - Danger */
$color-danger-solid-100: #BB395A;
$color-danger-solid-200: #E61961;
$color-danger-solid-300: #D60055;
$color-danger-text-100: #FFD0D7;
$color-danger-text-200: #FFB0C7;
$color-danger-text-300: #FF8DA4;
$color-danger-background-100: #3C111B;
$color-danger-background-200: #201315;
$color-danger-background-300: #170E0F;
$color-danger-surface-100: #8F2C44;
$color-danger-surface-200: #751D34;
$color-danger-surface-300: #530A20;

/* Colors - Success */
$color-success-solid-100: #00DB9E;
$color-success-solid-200: #19E6A8;
$color-success-solid-300: #297F5F;
$color-success-text-100: #BBF6DC;
$color-success-text-200: #9DECC8;
$color-success-text-300: #00DA9D;
$color-success-background-100: #0D2E21;
$color-success-background-200: #111C17;
$color-success-background-300: #0B130F;
$color-success-surface-100: #23694E;
$color-success-surface-200: #185740;
$color-success-surface-300: #063C2A;

/* Colors - Info */
$color-info-solid-100: #2C71AF;
$color-info-solid-200: #198DE6;
$color-info-solid-300: #0080D8;
$color-info-text-100: #CCE4FC;
$color-info-text-200: #AAC4DC;
$color-info-text-300: #79BAF8;
$color-info-background-100: #09121A;
$color-info-background-200: #0F1923;
$color-info-background-300: #0D2942;
$color-info-surface-100: #245E92;
$color-info-surface-200: #194E7C;
$color-info-surface-300: #02345A;

/* Radius */
$radius-100: 0.25rem;
$radius-200: 0.5rem;
$radius-300: 0.75rem;
$radius-400: 1rem;
$radius-500: 50%;

/* Spacing */
$spacing-100: 0.125rem;
$spacing-200: 0.25rem;
$spacing-300: 0.5rem;
$spacing-400: 0.75rem;
$spacing-500: 1rem;
$spacing-600: 1.5rem;
$spacing-700: 2rem;
$spacing-800: 3rem;

/* Shadows */
$shadow-100: 0px 8px 20px -8px $color-neutral-background-100;
$shadow-200: 0px 8px 20px -8px $color-neutral-background-200;
$shadow-300: 0px 8px 20px -8px $color-neutral-background-300;
