@use "src/styles/tokens";

.goal {
    display: flex;
    align-items: center;
    gap: tokens.$spacing-200;
    font: tokens.$typography-caption-200;

    .linkButton {
        color: tokens.$color-success-solid-200;
    }

    .unlinkButton {
        color: tokens.$color-danger-solid-200;
    }
}
