@use "src/styles/tokens";

.container {
    border: thin solid tokens.$color-neutral-surface-200;
    border-radius: tokens.$radius-300;

    &[data-size="1"] {
        padding: tokens.$spacing-400;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-600;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-800;
    }

    &[data-variant="solid"] {
        background: tokens.$color-neutral-background-200;
    }

    &[data-variant="semi-translucent"] {
        background:
            radial-gradient(
                    ellipse farthest-corner at left top,
                    rgba(tokens.$color-accent-background-100, 0.15) 0%,
                    rgba(tokens.$color-accent-background-100, 0.05) 50%,
                    transparent 100%
            ),
            radial-gradient(
                    ellipse farthest-corner at right bottom,
                    rgba(tokens.$color-accent-background-300, 0.15) 0%,
                    rgba(tokens.$color-accent-background-300, 0.05) 50%,
                    transparent 100%
            ),
            tokens.$color-neutral-background-alpha-100;
        backdrop-filter: blur(5px);
    }

    &[data-variant="translucent"] {
        background:
            radial-gradient(
                    ellipse farthest-corner at left top,
                    rgba(tokens.$color-accent-background-100, 0.15) 0%,
                    rgba(tokens.$color-accent-background-100, 0.05) 50%,
                    transparent 100%
            ),
            radial-gradient(
                    ellipse farthest-corner at right bottom,
                    rgba(tokens.$color-accent-background-300, 0.15) 0%,
                    rgba(tokens.$color-accent-background-300, 0.05) 50%,
                    transparent 100%
            );
        backdrop-filter: blur(5px);
    }
}
