@use "src/styles/tokens";

.container {
    border: thin solid tokens.$color-neutral-surface-200;
    border-radius: tokens.$radius-300;

    &[data-size="1"] {
        padding: tokens.$spacing-400;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-600;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-800;
    }

    &[data-variant="solid"] {
        background: tokens.$color-neutral-background-200;
    }

    &[data-variant="semi-translucent"] {
        background: tokens.$color-neutral-background-alpha-100;
        backdrop-filter: blur(5px);
    }

    &[data-variant="translucent"] {
        background: tokens.$color-neutral-background-alpha-200;
        backdrop-filter: blur(5px);
    }
}
