@use "src/styles/tokens";

.container {
    background: tokens.$color-neutral-background-200;
    border: thin solid tokens.$color-neutral-surface-200;
    border-radius: tokens.$radius-300;

    &[data-size="1"] {
        padding: tokens.$spacing-400;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-600;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-800;
    }
}
