@use "src/styles/tokens";

// TODO: Fix specificity
.iconButton.iconButton {
    aspect-ratio: 1;

    &[data-size="1"] {
        padding: tokens.$spacing-100;
        height: 1.75rem;
        width: 1.75rem;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-200;
        height: 2.25rem;
        width: 2.25rem;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-300;
        height: 3rem;
        width: 3rem;
    }
}
