@use "src/styles/tokens";

// TODO: Fix specificity
.iconButton.iconButton {
    aspect-ratio: 1;

    &[data-size="1"] {
        padding: tokens.$spacing-100;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-200;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-300;
    }
}
