@use "src/styles/tokens";

button.iconButton {
    aspect-ratio: 1;

    &[data-size="1"] {
        padding: tokens.$spacing-100;
        height: 1.5rem;
        width: 1.5rem;
    }

    &[data-size="2"] {
        padding: tokens.$spacing-200;
        height: 1.675rem;
        width: 1.675rem;
    }

    &[data-size="3"] {
        padding: tokens.$spacing-300;
        height: 2.175rem;
        width: 2.175rem;
    }
}
