@use "src/styles/tokens";

.container {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-200;
    
    .optionsHeader {
        margin-bottom: tokens.$spacing-300;
    }
    
    .options {
        display: flex;
        flex-direction: column;
        gap: tokens.$spacing-300;

        padding: 0;
        list-style-type: none;
    }
}
