@use "src/styles/tokens";

.container {
    border-radius: tokens.$radius-200;
    padding: tokens.$spacing-400 tokens.$spacing-500;

    &[data-variant="success"] {
        background-color: tokens.$color-success-background-300;
        color: tokens.$color-success-text-200;
    }

    &[data-variant="danger"] {
        background-color: tokens.$color-danger-background-300;
        color: tokens.$color-danger-text-200;
    }

    &[data-variant="info"] {
        background-color: tokens.$color-info-background-300;
        color: tokens.$color-info-text-200;
    }

    &[data-variant="neutral"] {
        background-color: tokens.$color-neutral-background-300;
        color: tokens.$color-neutral-text-200;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: tokens.$spacing-400;

    .message {
        flex-grow: 1;
    }

    .iconWrapper {
        flex-shrink: 0;
    }
}
