@use "src/styles/tokens";

@keyframes animatedTextGradient {
    0%, 100% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.gradientText {
    background: linear-gradient(
            135deg,
            #fff,
            #0059ff,
            #5e00ff,
            #009dff,
            #7300ff,
            #fff,
    ) 0 0 / 300% 300% text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 5s ease-in-out 0s infinite normal none running;
}
