@use "src/styles/tokens";

.container {
    display: flex;
    flex-direction: column;

    .header {
        font: tokens.$typography-title-100;
    }

    .entries {
        margin-top: tokens.$spacing-300;
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: tokens.$spacing-200;
    }
}
