@use "src/styles/tokens";

.overlay {
    background: tokens.$color-neutral-background-alpha-300;
    backdrop-filter: blur(2px);
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        .dialog {
            color: tokens.$color-neutral-text-100;
            background: tokens.$color-neutral-surface-300;

            padding: tokens.$spacing-600;
            border: 1px solid tokens.$color-neutral-surface-100;
            border-radius: tokens.$radius-300;

            &:focus-visible {
                outline: 2px solid tokens.$color-accent-solid-300;
            }
        }
    }
}
