@use "src/styles/tokens";

.container {
    position: sticky;
    top: 0;

    min-height: fit-content;
    height: 100vh;
    min-width: 150px;

    z-index: 1000;
    display: flex;
    flex-direction: column;

    background:
        linear-gradient(to bottom, rgba(tokens.$color-accent-background-100, 0.75) 0%, rgba(tokens.$color-accent-background-300, 0.1) 30%) fixed,
        linear-gradient(to top, rgba(tokens.$color-neutral-background-300, 0.75) 0%, rgba(tokens.$color-accent-background-300, 0.1) 30%) fixed,
        tokens.$color-neutral-background-200;
    
    border-right: thin solid tokens.$color-neutral-surface-300;
    transition: transform 0.25s;

    .sidePanel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: tokens.$spacing-700;

        position: relative;
        padding: tokens.$spacing-500;

        .logoWrapper {
            margin-inline: auto;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
        }

        .collapseButtonWrapper {
            transition: transform 0.25s;
            transform: translateX(50%);

            position: absolute;
            top: tokens.$spacing-500;
            right: 0;

            button {
                border-radius: tokens.$radius-500;
            }
        }
    }

    @media (min-width: tokens.$breakpoint-sm) {
        .collapseButtonWrapper {
            display: none;
        }
    }

    @media (max-width: tokens.$breakpoint-sm) {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;

        .collapseButtonWrapper {
            display: block;
        }

        &:not(.collapsed) {
            .collapseButtonWrapper {
                transform: translateX(50%);
            }
        }

        &.collapsed {
            transform: translateX(-100%);

            .collapseButtonWrapper {
                transform: translateX(150%) rotate(180deg);
            }
        }
    }
}
