@use "src/styles/tokens";

.dataGrid {
    --rdg-selection-color: #{tokens.$color-accent-solid-200};
    
    border: thin solid tokens.$color-neutral-surface-300;
    background-color: tokens.$color-neutral-background-200;
    border-bottom-left-radius: tokens.$radius-300;
    border-bottom-right-radius: tokens.$radius-300;
    
    [role="columnheader"] {
        border-inline: none;

        &:not(:last-of-type) {
            &::before {
                content: "";
                position: absolute;
                right: 0.75px;
                top: 25%;
                bottom: 25%;
                width: 1px;
                background: tokens.$color-neutral-surface-100;
            }
        }

        &:not(:first-of-type) {
            &::after {
                content: "";
                position: absolute;
                left: 0.75px;
                top: 25%;
                bottom: 25%;
                width: 1px;
                background: tokens.$color-neutral-surface-100;
            }
        }
    }

    .headerRow {
        background-color: tokens.$color-neutral-surface-300;
    }
    
    .row {
        background-color: tokens.$color-neutral-background-100;
    }
}
