.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 100vh;
    padding: var(--spacing-500);

    background: var(--color-neutral-background-300);
    color: var(--color-neutral-text-100);
}

.innerWrapper {
    font: var(--typography-body-100);
    max-width: var(--breakpoint-xl);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
