@use "src/styles/tokens";

.input {
    display: flex;
    font: tokens.$typography-title-200;

    .segment {
        outline: none;
        caret-color: transparent;

        &[data-focused] {
            background: tokens.$color-accent-solid-200;
            color: tokens.$color-accent-text-100;
            border-radius: tokens.$radius-100;
        }
    }
}

.skeletonHeader {
    display: inline-block;
    width: 180px;
}

.skeletonButton {
    aspect-ratio : 1 / 1;
    height: 1.75rem;
}

