name: Run linter - verify

on:
    workflow_call:

jobs:
    lint:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2

            -   uses: actions/setup-node@v4
                with:
                    node-version: 22
                    cache: 'npm'

            - name: Install dependencies
              run: npm ci 
              
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.10.5"
                
            - name: Run lint & format
              run: npx lint-staged --config lint-staged.fix.cjs --relative --diff HEAD^1 HEAD
              
            - name: Assert no changes
              run: |
                if ! git diff --quiet HEAD; then
                  echo "Linting/formatting introduced changes. Please commit them."
                  git diff HEAD
                  exit 1
                fi