@use "src/styles/tokens";

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    padding-block: tokens.$spacing-900;
    margin-inline: auto;
    
    .header {
        font-size: tokens.$font-size-700;
    }
    
    .caption {
        color: tokens.$color-neutral-text-200;
        font-size: tokens.$font-size-300;
        margin-top: tokens.$spacing-300;
        margin-bottom: tokens.$spacing-400;
    }
}
